body {
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgb(233, 236, 238),
    rgb(250, 230, 244)
  );
}

/* Navigation Bar  */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(74, 162, 240);

  /* box-shadow: 10px 5px 5px rgb(54, 238, 245); */
}

.navigation-menu img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.navigation-menu input {
  text-align: center;
  margin: 5px;
}

/* Heading bar */
.heading-section {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.heading-section h2 {
  font-size: 4rem;
}
.name-section {
  font-size: 2rem;
}
/* Main Section  */
.account-section {
  display: grid;
  height: 50vh;
  gap: 3rem;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto;
}
.statement-row-main {
  grid-row: span 2;
  overflow: scroll;
}
.statement-row {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
}

/* Transfer Section and loan section*/
.transfer-section,
.loan-section {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}

.transfer-section {
  background-color: rgb(58, 235, 248);
  padding: 10px;
}
.tran-section button {
  margin-top: 4px;
}
.loan-section {
  padding: 10px;
}
.loan-section button {
  margin: 2px;
  font-size: 16px;
  width: 200px;
}
.tran-section input {
  margin: 5px;
}

/* Footer Section */
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
}

/* Add CSS style using DOM */
.deposit {
  background-color: #a3eea3;
  border-bottom: 1px solid white;
}
.withdraw {
  background-color: #f56967;
  border-bottom: 1px solid white;
}

/* Display Deposit Or Withdraw */
.display-row {
  margin: 10px 200px 0 0;
}

/* Hidden Class */
.hidden {
  display: none;
}

.error {
  color: red;
}

/* Model Window */
.model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  color: black;
  background-color: #55ceec;
  padding: 40px;
  border-radius: 5px;
}
.model .home-btn {
  margin-left: 300px;
  margin-top: -30px;
}
.model .remove-tran {
  margin-left: 50%;
  margin-top: 30px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
/* Login Form */
.form-signin {
  max-width: 330px;
  padding: 1rem;
  margin-top: 200px;
}
.form-signin input {
  margin-top: 10px;
  margin-bottom: 20px;
}
.sign-info {
  margin-top: 100px;
}
