body {
  background-color: white;
  background-image: linear-gradient(
    to right,
    rgb(233, 236, 238),
    rgb(250, 230, 244)
  );
}

/* Navigation Bar  */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(74, 162, 240);

  /* box-shadow: 10px 5px 5px rgb(54, 238, 245); */
}

.navigation-menu img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}
.navigation-menu input {
  text-align: center;
  margin: 5px;
}

/* Heading bar */
.heading-section {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}
.heading-section h2 {
  font-size: 4rem;
}
.name-section {
  font-size: 2rem;
}
/* Main Section  */
.account-section {
  display: grid;
  height: 50vh;
  gap: 3rem;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto auto;
}
.statement-row-main {
  grid-row: span 2;
  overflow: scroll;
}
.statement-row {
  display: flex;
  justify-content: space-around;
  padding: 5px;
  border-radius: 5px;
}

/* Transfer Section and loan section*/
.transfer-section,
.loan-section {
  padding: 2px;
  border-radius: 5px;
  text-align: center;
}
.transfer-section {
  border: 2px solid orange;
  background-color: orange;
}
.loan-section {
  background-color: aqua;
}

.tran-section input {
  margin: 5px;
}

/* Footer Section */
footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 10;
}

/* Add CSS style using DOM */
.deposit {
  background-color: #a3eea3;
  border-bottom: 1px solid white;
}
.withdraw {
  background-color: #f56967;
  border-bottom: 1px solid white;
}

/* Display Deposit Or Withdraw */
.display-row {
  margin: 10px 200px 0 0;
}
